
<div class="nav-side-menu">
   <a class="navbar-brand" id="brandd" href="/">Monsterr Framework</a>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">

            <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Getting started<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="active"><a href="/documentation/installation">Installation</a></li>
                <li><a href="/documentation/basicgame">Basic Game</a></li>
                <li><a href="/documentation/advancedgame">Advanced Game</a></li>
                <li><a href="/documentation/framegame">Frame Game</a></li>
                <li><a href="/documentation/latencymodule">Latency Module</a> </li>
                <li><a href="/documentation/networkmodule">Network Module</a> </li>
                <li><a href="/documentation/surveymodule">Survey Module</a> </li>

            </ul>


            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Monsterr Guide <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li><a href="/documentation/monsterrguide/setup">Setup</a> </li>
                <li><a href="/documentation/monsterrguide/events">Events</a> </li>
                <li><a href="/documentation/monsterrguide/commands">Commands</a> </li>
                <li><a href="/documentation/monsterrguide/network">Network</a> </li>
                <li><a href="/documentation/monsterrguide/stages">Stages</a> </li>
                <li><a href="/documentation/monsterrguide/chat">Chat</a> </li>
                <li><a href="/documentation/monsterrguide/css">CSS</a> </li>
                <li><a href="/documentation/monsterrguide/canvas">Canvas</a> </li>
                <li><a href="/documentation/monsterrguide/logging">Logging</a> </li>
                <li><a href="/documentation/monsterrguide/bots">Bots</a> </li>
                <li><a href="/documentation/monsterrguide/unittesting">Unit Testing</a> </li>




            </ul>

            <!--
                        <li>
                            <a href="#">
                                <i class="fa fa-user fa-lg"></i> Profile
                            </a>
                        </li>
            -->
        </ul>
    </div>
</div>