body {
    background-color: ghostwhite;
    font-family: SansSerif;
}
.vertical-central{
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}
.jumbotron {
    background-image: url('../style/img/IMG_1856.JPG');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.lead {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
h2 {
    text-align: center;
}
.img-thumbnail {
 margin-top: 20px;
    border-style: none;
}
p-features {
    margin-top: 20px ;
}
.aboutimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}
.nav-link {
    color: whitesmoke;
}
.navbar  {
    background-color: black !important;
    position: fixed;
    width: 100%;
    height: 60px;
}
.abouth1 {
    margin-top: 100px;
}
.navbar-brand{
    color: whitesmoke;
}
.display-4 {
    margin-top: 50px;
    color: white;
}
h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}
.rounded {
    margin-top: 30px;
    padding-bottom: 20px;
}
.pabout{
    margin-top: 30px;
}
.pinstall {
    margin-left: 70px;
}
.h4install {
    margin-left: 90px;
}
#hrinstall {
    margin-left: 55px;
}
#installimg {
    margin-left: 800px;
    width: 100px;
}
 .installcomands {
    border: none;
    padding: 25px;
     background-color: #f5f5f5;
     border-radius: 4px;
     color: green;
     border-left: 5px solid #494747;
     margin-left: 100px;
     margin-bottom: 20px;
     margin-top: 15px;
}
#brandd {
    padding: 13px;
    height: 75px
}
.ollatency {
margin-left: 53px;
}
li {
    margin-top: 20px;
}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}
#cog4 {
    height: 175px;
}
#cog9 {
    height: 177px;
}
#survey {
    max-width: 700px;
    max-height: 500px;
}
.burgermenu{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}
@media (min-width: 768px){
    .navbar-toggle {
        display: none;
    }
}
.navbar-toggle {
    background: bisque;
    border: none;
}
.p-features {
    font-size: 20px;
}
 #thumbnail:hover {
     animation: shake 0.5s;
     animation-iteration-count: infinite;
 }
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#comment {
    color: #4f5b69;
    background: none;
}
em{
    background: lightgrey;
}
#command {
    color: blue;
    background: none;
}
#purple {
    color: purple;
    background: none;
}
#note {
    border-left: 3px solid red;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#red {
    color: red;
    background: none;
}
p{
    margin-bottom: 1px;
}
h4 {
    margin-top: 15px;
}
.navbar-brand {
    margin-right: 7rem;
    margin-bottom: -1rem;
}
@media screen and (max-width: 1400px)  {
    .pinstall {
       margin-left: 170px;
    }
}
@media screen and (max-width: 1400px)  {
    .h4install {
        margin-left: 190px;
    }
}
@media screen and (max-width: 1400px)  {
    .installcomands {
        margin-left: 200px;
    }
}
@media screen and (max-width: 1400px)  {
    #latencyid {
        margin-left: 70px;
    }
}
#getmonsterr {
    margin-top: 30px;
}
#features {
    margin-bottom: 40px;
}
#footerct {
    background: bisque;
    margin-top: 70px;

}
@media screen and (max-width: 480px) {
    .nav-link {
        color: black;
    }
}
@media screen and (max-width: 480px){
    .navbar-expand-lg .navbar-nav .nav-link {
        background: black;
    }
}
/* arrow scroll */
section {
    float:left;
    width:100%;
    background:#fff;
    position:relative;
}
.arrow-wrap {
    position:absolute;
    z-index:1;
    left:50%;
    top:-32em;
    margin-left:-5em;
    background:#111;
    width:10em;
    height:10em;
    padding:4em 2em;
    border-radius:50%;
    font-size:0.5em;
    display:block;
    box-shadow:0px 0px 5px 0px #333;
}

#arrow {
    float:left;
    position:relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}

#arrow:after {
    content:'';
    position:absolute;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #111 transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}
.hint {
    position:absolute;
    top:0.6em;
    width:100%;
    left:0;
    font-size:2em;
    font-style:italic;
    text-align:center;
    color:#fff;
    opacity:0;
}


.arrow-wrap:hover .hint {
    opacity:1;
}


@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}
html {
    height:100%;
}

#faqimg {
    margin-top: 50px;
    height: 400px;
    width: 100%;
}
.vl {
    border-left: 3px solid gray;
    height: 300px;
    left: 100%;
    margin-left: -3px;
    top: 10%;
}
#faqh4 {
    margin-bottom: 20px;
}
#contacth2 {
    margin-bottom: 10px;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 10px;

}

#contactt {
    margin-top: 50px;
    color: white;
}

#contactimg {
    margin-bottom: 20px;
}
#contactcont {
    background-color: #005051;
    margin-top: 30px;
    height: 500px;
    width: 70%;
}
/* hover on  about us members images */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.snip1576 {
    background-color: #fff;
    color: #444;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 8px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.snip1576 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1576:after {
    background-color: #359ad8;
    height: 150%;
    bottom: -145%;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.snip1576 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.snip1576 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.snip1576 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.snip1576 h3 span {
    display: block;
    font-weight: 700;
}

.snip1576 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1576:hover > img,
.snip1576.hover > img {
    opacity: 0.1;
}

.snip1576:hover:after,
.snip1576.hover:after {
    bottom: 95%;
}

.snip1576:hover figcaption,
.snip1576.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
#contactimg:hover {
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
}

/* displaying the answers on FAQ page */
ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

#formp {
    color: #0062cc;
}