
    <% include partials/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="block m-auto txt-center">
                <h1 class="abouth1">About Us</h1>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="text-center">

<img src="../style/img/story.jpg" class="img-fluid" alt="storytelling">
        </div>
        </div>
<div class="row">
    <div class="col-sm-12">
        <p class="pabout"><strong>Our great story</strong> started two years ago...Etiam ut lacinia sem. Nulla viverra ultricies dui. Maecenas sed neque id nibh eleifend consequat id et ex. Proin tortor odio, blandit vitae posuere in, cursus et sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur cursus egestas mauris, placerat sollicitudin eros malesuada eget. Mauris mollis accumsan arcu ac rhoncus. Mauris dignissim sit amet sem maximus malesuada. Maecenas sed vulputate arcu, a tempor odio. Proin nunc turpis, porttitor sed nulla in, ullamcorper accumsan diam. Duis quis malesuada lectus. Donec vitae metus vehicula, pretium elit sed, dignissim lacus. Donec tellus felis, dictum ac est eu, sollicitudin tincidunt nibh.

            Phasellus congue nibh et auctor cursus. Proin et porttitor turpis. Duis ac euismod arcu. Nulla maximus quis felis eget tempus. In velit nisl, vulputate quis placerat id, feugiat vel odio. Pellentesque tincidunt iaculis arcu dictum placerat. Nullam cursus rutrum laoreet. Praesent viverra placerat justo et cursus. </p>
    </div>
</div>
    </div>
<div class="container">
    <div class="row">
        <div class="block m-auto txt-center">
            <h2>Experiments at Cognition and Behavior Lab</h2>
        </div>
        <p class="pabout">Uavitate complectitur te per, has ex graecis corrumpit aliquando. Vim et sint stet electram. Te probo nemore has, vis id iuvaret partiendo, ut per solum dictas cetero. Hendrerit disputando an pro, eam eius viderer aperiri ea.
            Cu mel congue offendit, oblique expetenda mea id. Vivendum erroribus id duo, usu sale numquam in. Cu meis utroque quo. At harum invenire intellegam has, te sea graece vivendo electram. Est quod novum id. Mutat electram voluptaria et eum, cu nobis nominati adipiscing vis, qui te prompta assueverit vituperatoribus.
            Omnium iisque virtute cu per. Pri probo movet propriae cu, ad per tation postulant. Pri wisi utroque voluptatibus in, qui an essent discere conclusionemque, no vidit principes duo. At ius ridens sanctus contentiones.</p>
    </div>
</div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Eye Tracking Experiment"
                       data-image="/style/img/aboutimg/cog1.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="/style/img/aboutimg/cog1.jpg"
                             alt="cognition and Behavior lab experiment">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Small overview of an experiment room"
                       data-image="/style/img/aboutimg/cog2.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="/style/img/aboutimg/cog2.jpg"
                             alt="cognition and behavior lab experiment">
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="/style/img/aboutimg/cog3.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="/style/img/aboutimg/cog3.jpg"
                             alt="cognition and behavior lab experiment">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="/style/img/aboutimg/cog4.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="/style/img/aboutimg/cog4.jpg"
                             alt="cognition and behavior lab experiment">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="People envolved an experiment"
                       data-image="/style/img/aboutimg/cog5.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail" id="cog4"
                             src="/style/img/aboutimg/cog5.jpg"
                             alt="cognition and behavior lab experiment">
                    </a>
                </div>



                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="/style/img/aboutimg/cog6.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="/style/img/aboutimg/cog6.jpg"
                             alt="cognition and behavior lab experiment">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="VR Experiment"
                       data-image="/style/img/aboutimg/cog7.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="/style/img/aboutimg/cog7.jpg"
                             alt="cognition and behavior lab experiment">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="/style/img/aboutimg/cog8.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="/style/img/aboutimg/cog8.jpg"
                             alt="cognition and behavior lab experiment">
                    </a>
                </div>



                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="/style/img/aboutimg/cog9.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail" id="cog9"
                             src="/style/img/aboutimg/cog9.jpg"
                             alt="cognition and behavior lab experiment">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="/style/img/aboutimg/cog10.jpg"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="/style/img/aboutimg/cog10.jpg"
                             alt="cognition and behavior lab experiment">
                    </a>
                </div>

            </div>


            <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                            </button>

                            <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <h2>Our Team</h2>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <figure class="snip1576">
                    <img src= "../style/img/portret.png">
                    <figcaption>
                        <h3>CEO</h3>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <figure class="snip1576">
                    <img src= "../style/img/portret.png">
                    <figcaption>
                        <h3>Assistant Manager</h3>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <figure class="snip1576">
                    <img src= "../style/img/portret.png">
                    <figcaption>
                        <h3>Frontend Developer</h3>
                    </figcaption>
                </figure>
            </div>
        </div>

    <div class="col-6 col-md-4">
        <div class="img-thumbnail">
            <figure class="snip1576">
                <img src= "../style/img/portret.png">
                <figcaption>
                    <h3>Backend Developer</h3>
                </figcaption>
            </figure>
        </div>
    </div>
        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <figure class="snip1576">
                    <img src= "../style/img/portret.png">
                    <figcaption>
                        <h3>UX/UI Designer</h3>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <figure class="snip1576">
                    <img src= "../style/img/portret.png">
                    <figcaption>
                        <h3>Backend Developer</h3>
                    </figcaption>
                </figure>
             </div>
        </div>
</div>
</div>

    <% include partials/footer.ejs %>