
    <% include partials/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="block m-auto txt-center">
                <h1 class="abouth1">About Us</h1>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="text-center">

<img src="../style/img/story.jpg" class="rounded" alt="storytelling">
        </div>
        </div>
<div class="row">
    <div class="col-sm-12">
        <p class="pabout"><strong>Our great story</strong> started two years ago...Etiam ut lacinia sem. Nulla viverra ultricies dui. Maecenas sed neque id nibh eleifend consequat id et ex. Proin tortor odio, blandit vitae posuere in, cursus et sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur cursus egestas mauris, placerat sollicitudin eros malesuada eget. Mauris mollis accumsan arcu ac rhoncus. Mauris dignissim sit amet sem maximus malesuada. Maecenas sed vulputate arcu, a tempor odio. Proin nunc turpis, porttitor sed nulla in, ullamcorper accumsan diam. Duis quis malesuada lectus. Donec vitae metus vehicula, pretium elit sed, dignissim lacus. Donec tellus felis, dictum ac est eu, sollicitudin tincidunt nibh.

            Phasellus congue nibh et auctor cursus. Proin et porttitor turpis. Duis ac euismod arcu. Nulla maximus quis felis eget tempus. In velit nisl, vulputate quis placerat id, feugiat vel odio. Pellentesque tincidunt iaculis arcu dictum placerat. Nullam cursus rutrum laoreet. Praesent viverra placerat justo et cursus. </p>
    </div>
</div>
    </div>

<div class="container">
    <h2>Our Team</h2>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <img src= "../style/img/portret.png">
            </div>
            <div class="caption">
                <p class="p-features">CEO</p>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <img src= "../style/img/portret.png">
            </div>
            <div class="caption">
                <p class="p-features">Backend Developer</p>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <img src= "../style/img/portret.png">
            </div>
            <div class="caption">
                <p class="p-features">Frontend Developer</p>
            </div>
        </div>
    </div>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <img src= "../style/img/portret.png">
            </div>
            <div class="caption">
                <p class="p-features">CEO</p>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <img src= "../style/img/portret.png">
            </div>
            <div class="caption">
                <p class="p-features">Backend Developer</p>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <img src= "../style/img/portret.png">
            </div>
            <div class="caption">
                <p class="p-features">Frontend Developer</p>
            </div>
        </div>
    </div>
</div>