<% include partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="block m-auto txt-center">
            <h1 class="abouth1">Get in touch with us!</h1>
        </div>
    </div>
</div>
<div class="container-fluid" id="contactcont">
    <div class="text-center">
        <h2 id="contacth2">Let's talk about your questions. We will give you the right answers in a short time!
        </h2>
    </div>
    <div class="row">
        <div class="col 4 col-m-4">
            <div class="text-center" id="contactt">
                 <img src="/style/img/location.png" id="contactimg">
                <p><strong>Address</strong> </p>
                <p>Fuglesangs Allé 20, Building 2635, Aarhus V, Denmark</p>
            </div>
            </div>
        <div class="col 4 col-m-4">
            <div  class="text-center" id="contactt">
                <img src="/style/img/mail.png" id="contactimg">
                <p><strong>Email address</strong></p>
                <p>danm@econ.au.dk</p>
            </div>
    </div>
        <div class="col 4 col-m-4">
            <div class="text-center" id="contactt">
            <img src="/style/img/call.png" id="contactimg">
            <p><strong>Phone number</strong></p>
            <p>+ 45 871 661 51</p>
            </div>
        </div>
    </div>
</div>

</div>
<% include partials/footer.ejs %>
