<% include partials/header.ejs %>
<div class="jumbotron vertical-central">
    <div class="container">
        <h1 class="display-4"> Welcome to Monsterr's Official Website!</h1>
        <p class="lead">Monsterr is a Javascript framework that develops research games for human cogniton and behavior</p>
        <hr class="my-4">
        <p class="leadd">
            <a class="btn btn-primary btn-lg" href="/documentation">Read more</a>
        </p>


    </div>
</div>
<div class="container">
    <div class="row">
    <div class="block m-auto txt-center">
        <h2>Why Monsterr Framework?</h2>
    </div>
    </div>
</div>
<div class="container">
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <a href="/games"><img src= "../style/img/glasses.png"></a>
            </div>
            <div class="caption">
              <p class="p-features">First Feature</p>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <a href="/games"><img src= "../style/img/glasses.png"></a>
            </div>
            <div class="caption">
                <p class="p-features">Second Feature</p>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="img-thumbnail">
                <a href="/games"><img src= "../style/img/glasses.png"></a>
            </div>
            <div class="caption">
                <p class="p-features">Third Feature</p>
            </div>
           </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12"></div>
        <img src="../style/img/about-us.png" class="aboutimg">
        <div class="col-sm-12"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate neque vel turpis sollicitudin, ac suscipit dolor fringilla. Nam nec enim erat. Nulla blandit ipsum in semper fringilla. Vestibulum blandit justo eget enim egestas ornare. Nulla molestie metus metus, commodo rutrum leo fringilla nec. In tristique iaculis tortor, in tristique augue egestas quis. Pellentesque mattis, magna eu aliquet consequat, mauris diam ullamcorper nibh, sed egestas leo nulla vel nulla. Nam ut nibh consequat, fringilla nibh sit amet, pharetra risus. Nunc convallis posuere ex, in viverra augue pellentesque sed. Vivamus ut tincidunt massa, ac dapibus quam. Duis molestie elit eget dui vestibulum aliquet. Aliquam rutrum commodo orci et vehicula. In consequat eget nisl sollicitudin fermentum.</p>
        <p class="lead">
        <a class="btn btn-primary" href="aboutus">Read more</a>
        </p>
   </div>
</div>
<div class="container">
    <div class="row">

    </div>
</div>
<% include partials/footer %>