<% include ../partials/header.ejs %>
<% include ../partials/sidebar.ejs%>
<div class="container">
    <div class="row">
        <div class="block m-auto txt-center">
            <h1 class="abouth1">Installation Process</h1>
        </div>
    </div>
    <hr class="my-4" id="hrinstall">
<div class="row">
    <h4 class="h4install">Preparation</h4>

        <p class="pinstall">
            Monsterr Framework is a javascript framework build in NodeJS. Your first step is to make sure that you have
            Node installed. If not, use this <a href="https://nodejs.org/en/download/">link</a> for install.</p>
    <div class="text-center">
        <img src="../style/img/nodejs.png"  id="installimg" alt="node">
    </div>
</div>
    <div class="row">
        <h4 class="h4install">Install Monsterr</h4>

            <p class="pinstall">
                The next step would be to clone or download the Monsterr Framework from <a href="https://github.com/danm0nster/monsterr">Github</a>.
                Right after downloading Monsterr and opneing the framewok in your desired program, you would need to write the following commands in the terminal:
            </p>

            <div class="installcomands"><p>npm install -g create-monsterr-game</p></div>
            <p class="pinstall">Use the following command to generate a game based on Monsterr. You are almost done! You just need to choose the desired name
                of the game and to build and run it.</p>
            <div class="installcomands"><p>create-monsterr-game name-of-game</p>
               <p>cd name-of-game</p>
                <p>npm run build</p>
                <p>npm run dev</p>
            </div>
        </div>
    </div>
